#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 0 2em 0;
}

#search-form {
    text-align: center;
}

#search {
    width: 500px;
    height: 2em;
    font-size: medium;
    border-color: rgb(235, 234, 234);
}

#search:focus {
    background-color: rgb(245, 245, 245);
}

.search-buttons {
    padding: .5em;
    position: relative;
    top: 2em;
    background-color: rgb(241, 241, 241);
    border: 
}

.search-buttons:hover {
    color: black;
    border-color: rgb(179, 175, 175);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1em
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: rgb(46, 46, 133);
    text-decoration: none;
}